jenkins-cli.jar
jenkins_home/.java
jenkins_home/copy_reference_file.log
jenkins_home/failed-boot-attempts.txt
jenkins_home/hudson.model.UpdateCenter.xml
jenkins_home/hudson.plugins.git.GitTool.xml
jenkins_home/identity.key.enc
jenkins_home/init.groovy.d/
jenkins_home/jenkins.install.InstallUtil.lastExecVersion
jenkins_home/logs/
jenkins_home/nodeMonitors.xml
jenkins_home/plugins/
jenkins_home/queue.xml
jenkins_home/queue.xml.bak
jenkins_home/secret.key
jenkins_home/secret.key.not-so-secret
jenkins_home/secrets/
jenkins_home/updates/
jenkins_home/userContent/
jenkins_home/war/
